/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity:1; filter: alpha(opacity=100);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#000;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:0px solid #000; background:#000;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
/* top page */
/* line 3, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
html {
  background-color: #fff;
  color: #000;
}

/* line 8, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
body {
  font-family: "Helvetica";
  font-weight: 100;
  text-align: center;
}

/* line 17, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.top-title h1 {
  font-family: Gill sans;
  font-size: 35pt;
  color: #000;
  margin: 20px;
}

/* line 25, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.last {
  font-size: 5pt;
}

/* back */
/* line 31, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.back {
  width: 625px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30px;
}

/* media */
/* line 41, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_back {
  border: solid 1px;
  border-color: #000;
  width: 480px;
  height: 350px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

/* line 52, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_title {
  font-size: 13pt;
  font-weight: 500;
  text-decoration: underline;
  position: relative;
  top: 78%;
  left: 3%;
  width: 280px;
  text-align: center;
}

/* line 61, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_no {
  font-size: 7pt;
  text-align: left;
  position: absolute;
  top: 65%;
  left: 70%;
}

/* line 69, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_id {
  font-size: 7pt;
  position: absolute;
  top: 40%;
  left: 70%;
}

/* line 74, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_user_name {
  font-size: 10pt;
  position: absolute;
  top: 30%;
  left: 70%;
}

/* line 79, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_sum {
  font-size: 7pt;
  position: absolute;
  top: 97%;
  left: 102%;
}

/* line 84, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_content {
  border: solid 1px;
  position: absolute;
  top: 40%;
  left: 32%;
  margin-top: -125px;
  margin-left: -140px;
  width: 280px;
  height: 250px;
  word-wrap: break-word;
}

/* line 94, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_content iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -140px;
  width: 280px;
  height: 250px;
}

/* line 103, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.media_content img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -140px;
  width: 280px;
  height: 250px;
}

/* show .heml */
/* line 114, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
#title {
  position: fixed;
}

/* temp-user */
/* line 120, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.kill-form {
  position: relative;
  right: 5%;
  display: block;
  width: 250px;
  text-align: right;
  margin: auto;
}

/* line 128, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.content_form {
  position: relative;
  z-index: 1;
}
/* line 131, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.content_form textarea {
  font-size: 9pt;
  z-index: 2;
  padding: 12px;
  width: 80%;
  height: 15em;
}
/* line 138, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.content_form .title {
  margin: 12px;
}
/* line 140, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.content_form .title input {
  width: 40%;
  margin: 0px;
}
/* line 146, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.content_form .submit_button input {
  margin: 20px;
}

/* line 154, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: #f00;
}
/* line 156, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* line 161, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.alert-notice {
  color: #f00;
}

/* line 164, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.alert-success {
  color: #0000ee;
}

/* line 172, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
a {
  text-decoration: none;
  line-height: 300%;
  line-width: 100%;
}

/* line 178, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.link_b {
  font-size: 10pt;
  margin: 0px;
  clear: both;
}

/* line 185, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.page_n_top {
  font-family: Avenir,Eurostile,Futura,Gill sans;
  margin-top: 20px;
  font-size: 9pt;
  font-weight: 500;
}

/* line 193, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/custom.css.scss */
.page_n_bottom {
  clear: both;
  font-family: Avenir,Eurostile,Futura,Gill sans;
  margin-top: 20px;
  font-size: 9pt;
  font-weight: 500;
}
/* line 5, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_type {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 9, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_type_back {
  position: relative;
  float: left;
}
/* line 12, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_type_back .media_type_content {
  border: solid 1px;
  width: 196px;
  height: 175px;
  margin: 0px 5px 0px;
  word-wrap: break-word;
}
/* line 17, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_type_back .media_type_content img {
  width: 196px;
  height: 175px;
}

/* line 24, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_type_user_id a {
  font-size: 5pt;
}

/* line 32, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.delete_tag img {
  position: absolute;
  top: 27px;
  left: 102%;
  width: 20px;
  height: 20px;
  border: solid 1px;
}

/* line 40, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/media.css.scss */
.media_edit img {
  position: absolute;
  top: -1px;
  left: 102%;
  width: 20px;
  height: 20px;
  border: solid 1px;
}
/* line 5, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/sessions.css.scss */
.reset_p {
  margin-top: 130px;
  margin-bottom: 30px;
}

/* line 11, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/sessions.css.scss */
.alert-error {
  color: #f00;
}
/* line 6, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/temp_users.css.scss */
.temp_user input {
  margin: 5px;
}
/* users index */
/* line 8, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users_new input {
  margin: 5px;
}

/* line 12, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users {
  margin-bottom: 40px;
}

/* line 15, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.user_back {
  width: 350px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}
/* line 22, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.user_back img {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 150px;
  height: 150px;
}
/* line 28, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.user_back .user_name {
  position: relative;
  text-align: left;
  top: 45%;
  left: 50%;
}

/* users page */
/* line 39, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users_photo img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
/* line 43, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users_photo iframe {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

/* line 48, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users_name {
  margin-top: 20px;
}

/* line 51, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.users_introduction {
  margin-bottom: 30px;
}

/* line 55, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.edit_user {
  margin-bottom: 20px;
}
/* line 57, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users.css.scss */
.edit_user input {
  margin: 5px;
}
/* edit users_info*/
/* line 8, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users_info.css.scss */
.users_info {
  border: solid 1px;
  padding-top: 10px;
}
/* line 12, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users_info.css.scss */
.users_info .users_info_photo textarea {
  font-size: 9pt;
  padding: 12px;
  width: 70%;
  height: 9em;
}
/* line 19, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users_info.css.scss */
.users_info .users_info_introduction {
  margin: 20px;
}
/* line 21, /Users/sakatanoriko/Desktop/ruby/kill_app/app/assets/stylesheets/users_info.css.scss */
.users_info .users_info_introduction textarea {
  padding: 12px;
  width: 60%;
  height: 5em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

