<h1>Registered</h1>
<ul>
<% @users.each do |user|%>
  <li>
  <h1><%=user.id%></h1><br/>
  <h1>name:</h1><h2><%=user.name%></h2><%if current_user.admin? && !current_user?(user)%>
    |<%=link_to "delete",user,method: :delete,data:{confirm:"You sure?"}%>
  <%end%>
    <br/>
  <h1>email:</h1><h2><%=user.email%></h2><br/>
  </li>
  <p>-------------------------------------------<p>
<%end%>
</ul>

