/* top page */
html{
  background-color:#fff;
  color:#000;
}

body{
  font-family: Helvatica;
  text-align:center;
}

.top-title {
  h1{
    font-family: Gill sans;
 font-size:30pt;
 color:#000;
 text-align:center;
}
}

/* back */

.back {
  width:600px;
  background-color:#fff;
  margin:0 auto;
  margin-top:50px;
}
/* media */

.media_back {
  border:solid 1px;
  border-color:#000;
  width:500px;
  height:400px;
  background-color:#fff;
  margin:0 auto;
  margin-top:50px;

  position:relative;
}
.media_no {
  font-size:7pt;
  position:absolute;
  top:200px; left:-200px;
}

.media_id {
  font-size:7pt;
  position:absolute;
  top:48%; right:-20%;
}

.media_content {
  position:absolute;
  top:50%; left:50%;
  margin-top: -150px;
  margin-left:-255px;
  width:510px;height:300px;
  text-align:center;
  background-color:#fff;
}


/* show users media */

.create_media {
  
}
/* form_tag */

form{

}
/* show .heml */

#title{
  position:fixed;
}


/* temp-user */


.kill-form {
  display:block;   
  width:250px;
  text-align:right;
  margin: auto;
}


#error_explanation {
  color:#f00;
  ul{
    list-style:none;
    margin:0 0 18px 0;
}
}

.field_with_errors {
  @extend.control-group;
  @extend.error;
}

a {
  text-decoration:none;
  line-height:300%;
  line-width:100%;
}

.link_b {
  font-size:50pt;
}

.page_n {
  font-size:10pt;
}


