// Place all the styles related to the media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media_type { 
  margin-top:10px;
  margin-bottom:20px;
}
.media_type_back {
  position:relative;
  float:left; 
  margin:0 auto;
  .media_type_content {
    border:solid 1px;
    width:196px;height:176px;
    margin:0px 5px 0px;
    word-wrap:break-word;
    img {
      position:absolute;
      top:50%;left:50%;
      margin-top:-103px;
      margin-left:-98px;
      width:196px;height:176px;
}
    iframe{
      position:absolute;
      top:50%;left:50%;
      margin-top:-103px;
      margin-left:-98px;
      width:196px;height:176px;  
}
}
}
.media_type_user_id {

  a{
  // margin:0;
  // padding:0;
  font-size:5pt;
 }
}

.delete_tag {
  img{
  position:absolute;
    top:27px;left:102%;
    width:20px;height:20px;
    border:solid 1px; 
}
}
.media_edit {
  img {
  position:absolute;
  top:-1px;left:102%;
  width:20px;height:20px;
  border:solid 1px;
  
}
}
